@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.main-container{
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.navigation{
  display:flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.navigation-list{
  width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navigation-user {
  max-width: 268px;
  margin-left: auto;
}
.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}
.page-header{
  background-color: #FFFFFF;
  color: #000000;
}
.navigation-item{
  max-height: 64px;
}
.navigation-link{
  display:block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.logo{
  margin-bottom: -20px;
  margin-left: 70px;
}

.navigation-item1{
  max-height: 70px;
  margin-bottom: -6px;
}
.navigation-link2{
  display:block;
  padding: 20px 12px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;


}
.button-want{
  background-color: #756157;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  display:block;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  align-items: center;
}
.greetings{
  background-image: url("..//images/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 485px;
  display: block;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 69px;
  padding-top: 51px;
  padding-bottom: 57px;
  position: relative;
}
.greetings::after {
  content: "";
  background-image: url("..//images/divider.svg");
  display: block;
  width: 100%;
  height: 57px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;

}
.promo{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.promo-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform:none;
  padding-bottom: 68px;
}
.promo-title{
  padding-top: 0;
}
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.advantages-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 62px;
  margin-top: 92px;
}
.advantages-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.feautures-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.advantages-item{
  width: 400px;
  height: 384px;
}
.advantages-item1{
  width: 400px;
  height: 384px;
  margin: 0;
}
.feautures-item{
  width: 400px;
  height: 384px;
}
.tape1{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.tape2{
  display: flex;
  justify-content: space-between;
}
.tape3{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.advantages-img{
  width: 800px;
  height: 384px;
}
.tape-1{
  color:#FFFFFF;
  background-color: #82B3D3;
}
.tape-2{
  color:#000000;
  background-color: rgba(131, 179, 211, 0.12);
}
.tape-2-2{
  color:#000000;
  background-color: rgba(131, 179, 211, 0.2);
}
.tape-3{
  color:#FFFFFF;
  background-color: #82B3D3;
}
.tape-3-2{
  width: 400px;
}
.feautures-list-width{
  display: flex;
  justify-content: space-between;
}
.feautures-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.feautures-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.feautures-1, .feautures-3{
  background-color: rgba(131, 179, 211, 0.12);
}
.feautures-2{
  background-color: #FFFFFF;
}

.intrested-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.intrested-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}
.intrested-button{
  margin: 0 auto;
  display: block;
  height:52px;
  width:376px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color:#FFFFFF;
  background-color: #756157;
}
.intrested{
  height:406px;
  width:1200px;
  display:flex;
}
.interested-item{
  margin:auto;
}
.newsletter{
  background-color: #F2F2F2;
  background-image:url("../images/Subscribe.jpg");
  height:415px;
  width:1200px;
  display: flex;
}
.newsletter-item{
  margin:auto;
  margin-top: 96px;

}
.subscribe-title{
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color:#FFFFFF;
}
.subscribe-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#FFFFFF;
  margin-bottom: 54px;
}
.page-footer-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.footer-social{
  width: 184px;
  height: 50px;
  margin-left: 70px;
  margin-right: auto;
}
.footer-social-list{
  list-style: none;
}
.footer-contacts-phone{
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
.htmlacademy{
  width: 115px;
  height: 33px;
  margin-left: auto;
  margin-right: 70px;
  margin-top:auto;
  margin-bottom:auto;
}
.inner-header{
  background-color: #F2F2F2;
  background-image:url("../images/filter.jpg");
  height:412px;
  width:1200px;
}
.inner-header, .catalog-hotels{
  color:#FFFFFF;
  background-color: #F2F2F2;
}
.catalog{
  width:1200px;
}
.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.control-input{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.button-blue{
  background-color: #82B3D3;
  color:#FFFFFF;
}
.button-transparent{
  color:#FFFFFF;
}
.inner-main-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.select-control{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}
.type-of-housing, .hotel-card-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.button-red{
  background-color: #756157;
  color: #FFFFFF;
}

.button-grey{
  background-color: #82B3D3;
  color: #FFFFFF;
}
.button-green{
  background-color: #7DB54F;
  color: #FFFFFF;
}
.hotel-card-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
html {
  height: 100%;
}
.hotel-card-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.hotel-card-item{
  margin: 10px;
  padding: 10px;
  border: 1px solid #E6E6E6;
}
.hotel-card-link{
  text-decoration: none;
}
.stars{
  display: flex;
  list-style: none;
}
.pagination{
  display: flex;
  list-style: none;
}
.pagination-link{
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
