@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.main-container{
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.navigation{
  display:flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.navigation-list{
  width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navigation-user {
  max-width: 268px;
  margin-left: auto;
}
.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}
.page-header{
  background-color: #FFFFFF;
  color: #000000;
}
.navigation-item{
  max-height: 64px;
}
.navigation-link{
  display:block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.logo{
  margin-bottom: -20px;
  margin-left: 70px;
}

.navigation-item-high{
  max-height: 70px;
  margin-bottom: -6px;
}
.navigation-link-for-icon{
  display:block;
  padding: 20px 12px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;


}
.button-want{
  background-color: #756157;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  display:block;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  align-items: center;
}
.greetings{
  background-image: url("../images/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 485px;
  display: block;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 69px;
  padding-top: 51px;
  padding-bottom: 57px;
  position: relative;
}
.greetings::after {
  content: "";
  background-image: url("..//images/divider.svg");
  display: block;
  width: 100%;
  height: 57px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;

}
.promo{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.promo-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform:none;
  padding-bottom: 68px;
}
.promo-title{
  padding-top: 0;
}
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.advantages-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 62px;
  margin-top: 92px;
}
.advantages-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.feautures-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.advantages-item{
  width: 400px;
  height: 384px;
}
.advantages-item1{
  width: 400px;
  height: 384px;
  margin: 0;
}
.feautures-item{
  width: 400px;
  height: 384px;

}
.tape1{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.tape2{
  display: flex;
  justify-content: space-between;
}
.tape3{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.advantages-img{
  width: 800px;
  height: 384px;
}
.tape-1{
  color:#FFFFFF;
  background-color: #82B3D3;
}
.tape-2{
  color:#000000;
  background-color: rgba(131, 179, 211, 0.12);
}
.tape-2-2{
  color:#000000;
  background-color: rgba(131, 179, 211, 0.2);
}
.tape-3{
  color:#FFFFFF;
  background-color: #82B3D3;
}
.tape-3-2{
  width: 400px;
}
.feautures-list-width{
  display: flex;
  justify-content: space-between;
}
.feautures-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.feautures-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.feature-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.feautures-1, .feautures-3{
  background-color: rgba(131, 179, 211, 0.12);
}
.feautures-2{
  background-color: #FFFFFF;
}

.intrested-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.intrested-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}
.intrested-button{
  margin: 0 auto;
  display: block;
  height:52px;
  width:376px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color:#FFFFFF;
  background-color: #756157;
}
.intrested{
  height:406px;
  width:1200px;
  display:flex;
}
.interested-item{
  margin:auto;
}
.newsletter{
  background-color: #F2F2F2;
  background-image:url("../images/subscribe.jpg");
  height:415px;
  width:1200px;
  display: flex;
}
.newsletter-catalog{
  background-color: #F2F2F2;
  height:415px;
  width:1200px;
  display: flex;
}
.newsletter-item{
  margin:auto;
  margin-top: 96px;

}
.subscribe-title{
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color:#FFFFFF;
}

.subscribe-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#FFFFFF;
  margin-bottom: 54px;
}
.black{
  color:#000000;
}
.page-footer-container{
  display: flex;
  align-items: center;
  margin-top: 45px;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  justify-content: space-between;
}
.footer-social{
  width: 184px;
  height: 50px;
  margin-left: 70px;
  margin-right: auto;
}
.footer-social-list{
  list-style: none;
  display: flex;
}
.footer-contacts-phone{
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  font-family: PT Sans, sans-serif;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
.htmlacademy{
  width: 115px;
  height: 33px;
  margin-left: auto;
  margin-right: 70px;
  margin-top:auto;
  margin-bottom:auto;
}
.inner-header{
  display:flex;
  flex-direction: column;
  background-color: #F2F2F2;
  background-image:url("../images/filter.jpg");
  background-repeat: no-repeat;
  min-height:412px;
  max-width:1200px;
  margin: 0;
  padding: 0;
  padding-top: 35px;  padding-left: 70px;
  box-sizing: border-box;
}
.inner-header, .catalog-hotels{
  color:#FFFFFF;
  background-color: #F2F2F2;
}

.catalog{
  width:1200px;
}
.catalog-filter-group{
  border: none;
}
.catalog-filter{
  display: flex;
}
.inner-header-title{
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}
.breadcrumbs-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-right: 10px;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.control-input{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.button-blue{
  background-color: #82B3D3;
  color:#FFFFFF;
}
.button-transparent{
  color:#FFFFFF;
}
.inner-main-title{
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.select-control{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width:292px;
  height:50px;
  border:1px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 70px;
   }
.catalog-head{
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}
.catalog-view{
  margin-left: 0;
}
.hotel-card-title{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
  grid-column: 1 / span 2;
  grid-row: 2/ 3;
}
.type-of-housing, .hotel-card-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;

}
.type-of-housing{
  grid-column: 1 / 2;
  grid-row: 3/ 4;
}
.hotel-card-price{
  grid-column: 2 / 3;
  grid-row: 3/ 4;
  text-align: right;
}
.button-more{
  grid-column: 1 / 2;
  grid-row: 4/ 5;

}
.button-favorit{
  grid-column: 2 / 3;
  grid-row: 4/ 5;
}
.button{
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}
.button-red{
  background-color: #756157;
  color: #FFFFFF;
}

.button-grey{
  background-color: #82B3D3;
  color: #FFFFFF;
}
.button-green{
  background-color: #7DB54F;
  color: #FFFFFF;
}
.hotel-card-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  }
html {
  height: 100%;
}
.hotel-card-list{
  margin: 0;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  border-bottom: solid 1px #E6E6E6;
  padding-bottom: 40px;
}
.hotel-card-item{
  padding: 20px;
  border: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 28px 21px 36px 37px;
  grid-gap: 16px;
  box-sizing: border-box;
  border-radius: 4px;
}
.hotel-card-image{
  grid-column: 1 / -1;
  object-fit: cover;
}


.hotel-card-link{
  display:grid;
  grid-template-rows: 212px 28px;
  grid-template-columns: auto;
  gap: 16px;
  text-decoration: none;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}
.stars{
  padding: 0;
  grid-column: 1 / 2;
  grid-row: 5/ 6;
  display: flex;
  list-style: none;
  justify-self: start;
  align-self: center;
}
.star{
  margin: 0;
  padding: 0;
  margin-right: 6px;
}
.raiting-of-housing{
  grid-column: 2 / 3;
  grid-row: 5/ 6;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px;
}
.pagination-container{
  display: flex;
  padding: 40px 70px 60px 70px;
}
.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link{
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}
.pagination-current{
  color:#000000;
  background-color: #F2F2F2;
}
.pagination-clear{
  color:#000000;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
