@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  min-width: 1208px;
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation-list {
  position: relative;
  width: 700px;
  margin: 0;
  padding: 0;
  padding-left: 239px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  position: absolute;
  left: 70px;
  top: 0;
  z-index: 1;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
  margin-right: 68px;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  z-index: 1;
  content: "";
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-item-high {
  max-height: 70px;
  margin-bottom: -6px;
}

.navigation-link-for-icon {
  display: block;
  padding: 20px 12px;
  padding-bottom: 14px;
  padding-left: 11px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.heart {
  position: relative;
  padding-left: 12px;
  padding-bottom: 15px;
}

.number-of-heart {
  display: inline-block;
  background: #7db54f;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  z-index: 1;
  position: absolute;
  left: 19px;
  top: 9px;
}

.button-want {
  background-color: #756157;
  color: #ffffff;
  margin: 0;
  margin-left: 20px;
  padding: 8px 34px;
  display: block;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.greetings {
  background-image: url("../images/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 377px;
  display: block;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 69px;
  padding-top: 51px;
  padding-bottom: 57px;
  position: relative;
}

.greetings::after {
  content: "";
  background-image: url("..//images/divider.svg");
  display: block;
  width: 100%;
  height: 57px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.promo {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.promo-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  padding-top: 3px;
  padding-bottom: 68px;
}

.promo-title {
  padding-top: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.for-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 62px;
  padding-top: 93px;
  margin-top: 0;
  word-wrap: break-word;
}

.advantages-title-white {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 62px;
  margin-top: 103px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.feautures-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  margin: 0;
}

.feautures-item {
  width: 400px;
  min-height: 384px;
}

.advantages-title::before {
  position: absolute;
  bottom: -32px;
  left: 170px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-title-white::before {
  position: absolute;
  bottom: -32px;
  left: 170px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-img {
  width: 800px;
  min-height: 384px;
}

.tape-img {
  /*background-image: url("../images/tape-1.jpg");*/
  background-color: #68a2ca;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -5px;
}

.tape-third-img {
  /*background-image: url("../images/tape-3.jpg");*/
  background-color: #68a2ca;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -6px;
}

.tape-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.tape-white {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.tape-grey {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.feautures-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.feautures-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.feature-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.food-icon {
  margin-bottom: 32px;
}

.home-icon {
  margin-bottom: 30px;
}

.suvenir-icon {
  margin-top: 78px;
  margin-bottom: 28px;
}

.feautures-1,
.feautures-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.feautures-2 {
  background-color: #ffffff;
}

.intrested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.intrested-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.intrested-button {
  padding: 0;
  margin: 0 auto;
  min-height: 52px;
  width: 376px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.intrested {
  min-height: 405px;
  width: 1200px;
  display: flex;
}

.interested-item {
  margin: auto;
}

.newsletter {
  background-color: #496d82;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  min-height: 415px;
  width: 1200px;
  display: flex;
}

.newsletter-catalog {
  background-color: #ffffff;
  min-height: 415px;
  width: 1200px;
  display: flex;
  margin-left: 0;
}

.newsletter-item {
  margin: auto;
  margin-top: 96px;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 54px;
  padding-left: 1px;
}

.newsletter-form {
  display: flex;
  width: 684px;
  justify-content: flex-end;
}

.newsletter-button {
  border: none;
  border-radius: 0 4px 4px 0;
  width: 232px;
  min-height: 52px;
  color: #ffffff;
  background-color: #82b3d3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.field {
  flex-grow: 1;
  border-radius: 4px 0 0 4px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.field-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.black {
  color: #000000;
}

.page-footer-container {
  display: flex;
  align-items: center;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  justify-content: space-between;
}

.page-footer-container-catalog {
  padding-left: 0;
}

.footer-social {
  width: 184px;
  min-height: 50px;
  margin-left: 69px;
  margin-top: 5px;
  margin-right: auto;
}

.footer-social-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.footer-social-item {
  margin-top: 10px;
}

.social {
  fill: #83b3d3;
}

.social:hover,
.social:focus {
  fill: #68a2ca;
}

.social:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  margin-top: 5px;
  margin-left: -19px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy {
  width: 115px;
  height: 33px;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 48px;
  margin-bottom: auto;
}

.logo-html-academy {
  fill: #000000;
}

.logo-html-academy:hover,
.logo-html-academy:focus {
  fill: #756157;
}

.logo-html-academy:active {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 412px;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-left: 70px;
  box-sizing: border-box;
}

.inner-header,
.catalog-hotels {
  color: #ffffff;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog {
  width: 1200px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.infrostraction-block {
  margin-right: 71px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control:hover .control-label {
  color: rgba(255, 255, 255, 0.6);
}

.control:focus-within .control-mark {
  background: rgba(255, 255, 255, 1);
  border: 3px solid #83b3d3;
  border-radius: 4px;
  top: -3px;
  left: -3px;
}

.control:focus-within .control-label {
  color: rgba(255, 255, 255, 1);
}

.control:active .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control:active .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.control-input:disabled + .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-input:disabled ~ .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 10px;
  content: "";
  background-image: url("../images/allow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-mark-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
}

.control:hover .control-mark-circle {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus-within .control-mark-circle {
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #83b3d3;
  border-radius: 50%;
  top: -3px;
  left: -3px;
}

.control:active .control-mark-circle {
  background: rgba(255, 255, 255, 0.3);
}

.control-input:disabled + .control-mark-circle {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]:checked + .control-mark-circle::before {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: auto;
  width: 10px;
  height: 10px;
  content: "";
  background-color: #3f5e72;
  border-radius: 50%;
}

.control:hover .control-mark-circle::before {
  background-color: rgba(63, 94, 114, 0.6);
}

.type-house-block {
  margin-right: 140px;
}

.catalog-filter {
  display: flex;
  width: 1060px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-right: 11px;
  justify-content: center;
  align-items: center;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 33px;
}

.catalog-filter-item {
  margin-bottom: 15px;
  padding-top: 1px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:last-child {
  margin-bottom: 2px;
}

.catalog-filter-item-house {
  margin-bottom: 16px;
  padding-top: 1px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 70px;
  margin-top: 26px;
}

.button-for-filter {
  width: 191px;
  min-height: 36px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  text-transform: uppercase;
}

.button-for-filter:first-child {
  margin-top: 56px;
}

.button-transparent {
  background-color: rgba(255, 255, 255, 0);
  padding-top: 6px;
  margin-bottom: 10px;
  color: #ffffff;
}

.button-transparent:hover {
  opacity: 0.6;
}

.button-transparent:focus {
  outline: none;
  box-shadow: #83b3d3 0 0 1px;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button-blue {
  background-color: #82b3d3;
  color: #ffffff;
}

.inner-main-title {
  margin: 0;
  margin-left: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-right: 70px;
  margin-left: 200px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  padding-left: 19px;
  min-height: 50px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-head {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 69px;
}

.catalog-view {
  width: 160px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 48px);
  grid-template-rows: 48px;
  grid-auto-rows: 48px;
  gap: 8px;
  justify-items: stretch;
  margin-left: 0;
}

.catalog-view-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.view-no-active {
  border: 2px solid #e5e5e5;
}

.view-active {
  border: 2px solid #000000;
}

.catalog-view-link:hover {
  border: 2px solid #000000;
}

.catalog-view-link:focus-within {
  border: 2px solid #68a2ca;
}

.button-for-view:focus-visible {
  outline: none;
}

.catalog-view-link:active {
  border: 2px solid #000000;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
  grid-column: 1 / span 2;
  grid-row: 2/ 3;
}

.type-of-housing,
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.type-of-housing {
  grid-column: 1 / 2;
  grid-row: 3/ 4;
}

.hotel-card-price {
  grid-column: 2 / 3;
  grid-row: 3/ 4;
  text-align: right;
}

.button-more {
  grid-column: 1 / 2;
  grid-row: 4/ 5;
}

.button-favorit {
  grid-column: 2 / 3;
  grid-row: 4/ 5;
}

.button {
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.button-centr {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}

.more{
  display: flex;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

.button:disabled {
  background-color: #e5e5e5;
}

.button-red {
  background-color: #756157;
  color: #ffffff;
}

.button-red:hover,
.button-red:focus {
  background-color: #615048;
  outline: none;
}

.button-red:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-green:hover,
.button-green:focus {
  background-color: #6c9e42;
  outline: none;
}

.button-grey {
  background-color: #82b3d3;
  color: #ffffff;
}

.button-green {
  background-color: #7db54f;
  color: #ffffff;
}

.hotel-card-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

html {
  height: 100%;
}

.hotel-card-list {
  margin: 0;
  margin-left: 29px;
  margin-top: -2px;
  display: grid;
  grid-template-columns: 342px 342px 342px;
  flex-wrap: wrap;
  list-style: none;
  gap: 18px;
  padding-bottom: 39px;
}

.hotel-card-item {
  padding: 20px;
  border: 1px solid #e6e6e6;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: minmax(212px, auto) minmax(28px, auto) minmax(21px, auto) minmax(36px, auto) minmax(37px, auto);
  grid-gap: 16px;
  column-gap: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  word-wrap: break-word;
}

.hotel-card-image {
  grid-column: 1 / -1;
  object-fit: cover;
}

.hotel-card-link {
  display: grid;
  grid-template-rows: minmax(212px, auto) minmax(28px, auto);
  grid-template-columns: auto;
  gap: 16px;
  text-decoration: none;
  word-wrap: break-word;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}

.stars {
  padding: 0;
  grid-column: 1 / 2;
  grid-row: 5/ 6;
  display: flex;
  list-style: none;
  justify-self: start;
  align-self: center;
  margin-top: 4px;
}

.star {
  margin: 0;
  padding: 0;
  margin-right: 6px;
}

.raiting-of-housing {
  grid-column: 2 / 3;
  grid-row: 5/ 6;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  min-width: 140px;
  min-height: 37px;
  padding-left: 23px;
  padding-top: 2px;
  box-sizing: border-box;
}

.pagination-container {
  display: flex;
  padding: 39px 70px 60px 0;
  margin-left: 70px;
  margin-right: 62px;
  border-top: solid 1px #e6e6e6;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  padding: 10px 24px 12px 23px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:hover,
.pagination-link:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-clear {
  padding: 12px 27px 12px 27px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  fill: #ffffff;
}

.icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.icon:active {
  fill: rgba(255, 255, 255, 0.3);
}

.range-group {
  width: 288px;
  margin-left: 11px;
}

.range {
  margin-top: -1px;
}

.range-scale {
  margin-top: 44px;
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;
  left: 0.5px;
}

.toggle-max {
  top: -8px;
  right: -1px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-label {
  display: flex;
  width: 143px;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.label-min,
.label-max {
  position: relative;
}

.range-input {
  margin: 0;
  padding: 0;
  text-align: left;
  border: none;
  appearance: textfield;
  padding-left: 20px;
  width: 123px;
  min-height: 48px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-left {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.label-min::before {
  content: "от";
  display: block;
  position: absolute;
  right: 20px;
  bottom: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-right {
  border-radius: 0 4px 4px 0;
}

.label-max::before {
  content: "до";
  display: block;
  position: absolute;
  right: 20px;
  bottom: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.modal-container {
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 576px;
}

.modal-container-close {
  display: none;
}

.modal-search {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: none;
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 0.3;
  border: none;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}

.modal-line {
  display: grid;
  grid-template-columns: 119px 440px;
  grid-template-rows: 48px 21px;
  gap: 4px 18px;
  margin-bottom: 23px;
  position: relative;
}

.modal-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 12px 0;
}

.modal-label-sc {
  margin-right: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-label-children {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 12px 0;
}

.text-input {
  position: relative;
  width: 440px;
  padding: 12px 20px;
  background: #f2f2f2;
  border-radius: 4px;
  border: none;
  grid-area: 1 / 2 / 2 / 3;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.text-input::-webkit-input-placeholder {
  color: #000000;
}

.date-button {
  position: absolute;
  padding: 0;
  top: 14px;
  right: 20px;
  width: 20px;
  min-height: 20px;
  border: none;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.date-text {
  margin: 0;
  padding: 0 20px;
  grid-area: 2 / 2 / 3 / 3;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
}

.red-error {
  color: #ff5757;
}

.dark-error {
  color: #333333;
}

.modal-line-double {
  display: grid;
  grid-template-rows: 48px 60px;
  gap: 48px;
}

.starpers-children {
  display: flex;
  justify-content: space-between;
}

.modal-field {
  display: flex;
}

.modal-box {
  border: none;
  display: grid;
  grid-template-columns: 40px 31px 40px;
}

.modal-button {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.minus {
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  position: relative;
  fill: rgba(204, 204, 204, 1);
  padding-top: 0;
}

.icon-minus:hover {
  fill: #000000;
}

.minus:focus .icon-minus {
  fill: #000000;
  outline: none;
  padding: 3px 3px;
  border: 3px solid #82b3d3;
  border-radius: 4px;
}

.minus:focus {
  fill: #000000;
  outline: none;
}

.minus:active .icon-minus {
  fill: rgba(204, 204, 204, 1);
  outline: none;
  border: none;
}

.minus:active {
  fill: rgba(204, 204, 204, 1);
  outline: none;
  border: none;
}

.plus {
  border-radius: 0 4px 4px 0;
  background-color: #f2f2f2;
  position: relative;
  fill: rgba(204, 204, 204, 1);
  padding-top: 0;
}

.icon-plus:hover {
  fill: #000000;
}

.plus:focus .icon-plus {
  fill: #000000;
  outline: none;
  padding: 3px 3px;
  border: 3px solid #82b3d3;
  border-radius: 4px;
}

.plus:focus {
  fill: #000000;
  outline: none;
}

.plus:active .icon-plus {
  fill: rgba(204, 204, 204, 1);
  outline: none;
  border: none;
}

.plus:active {
  fill: rgba(204, 204, 204, 1);
  outline: none;
  border: none;
}

.field-number {
  box-sizing: border-box;
  border: none;
  background: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 0;
}

.field-number::-webkit-inner-spin-button,
.field-number::-webkit-outer-spin-button {
  display: none;
}

.find {
  border: none;
  border-radius: 10px;
  background-color: #83b3d3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  text-transform: uppercase;
  color: #ffffff;
}

.tooltip {
  position: relative;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  padding: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #af7842;
}

.tooltip-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;

  align-items: center;
  padding: 18px 18px 24px 22px;
  box-sizing: border-box;
  width: 256px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  left: -110px;
  top: 41px;
  z-index: 1;
  display: none;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 118px;
  border: 9px solid transparent;
  border-bottom: 9px solid #333333;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
